<!-- list -->
<ul class="nav">
  <li ui-sref-active="active">
    <a ui-sref="admin.comunity">
      <i class="icon-home"></i>
      <span class="font-bold">Mi comunidad</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.publishers">
      <i class="icon-users"></i>
      <span class="font-bold">Publicadores</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.entries">
      <i class="icon-layers"></i>
      <span class="font-bold">Entradas</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.publications">
      <i class="icon-feed"></i>
      <span class="font-bold">Publicaciones</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="admin.groups">
      <i class="icon-basket"></i>
      <span class="font-bold">Grupos</span>
    </a>
  </li>
</ul>
<!-- / list -->
