html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 30px;
    margin: 0 0 15px 0;
}

.success-summary {
    color: #44a942;
    background: #f7fdf7;
    border-left: 3px solid #d3eed7;
    padding: 10px 30px;
    margin: 0 0 15px 0;
}


.facebook-login-button
{
    background: #4c69ba;
  background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
  background: -webkit-linear-gradient(#4c69ba, #3b55a0);
  border-color: #4c69ba;
  -webkit-border-radius: 2px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 -1px 0 #354c8c;
}
.facebook-login-button:hover
{
background: -webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));
  background: -webkit-linear-gradient(#5b7bd5, #4864b1);
  border-bottom-color: #3b5998;
  border-left-color: #4961a8;
  border-right-color: #4961a8;
  border-top-color: #5874c3;
  -webkit-box-shadow: inset 0 1px 0 #607fd6;
  cursor: pointer;
}

.facebook-login-button:active
{
    background-color: #4e69a2;
}

.grayscale{
    -webkit-filter : grayscale(1)
}


::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}			

.padder-v-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padder-v-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padder-v-l {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padder-v-xl {
  padding-top: 25px;
  padding-bottom: 25px;
}
.padder-v-xxl {
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-platforms {
  background-image: url(../img/beach.png);
  padding-top: 2em;
  padding-bottom: 8em;
  background-size: cover;
  background-position: 50% 70%;
}

.facebook-color
{
    color: #4e69a2;
    border-color: #4e69a2;
}


