<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ComunityIndexCtrl">
  <div class="col">
    <div style="background-size:cover">
      <div class="wrapper-sm bg-white-opacity">
        <div class="row m-t">
            <div class="col-sm-6">
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                  <span class="h3 text-black">{{comunity.name}}</span>
                  <p class="m-t h4 text-success-dk" ng-show="comunity.subscription">Plan {{comunity.subscription.plan_name}} - {{comunity.subscription.active_users}} usuario(s) activo(s) - 
                      <span>Termina el {{comunity.subscription.end_date}} {{comunity.subscription.end_time | fromNow}}</span>
                  </p>
                  <p class="m-t h4 text-danger" ng-show="comunity && !comunity.subscription">
                      No se encuentra publicando ya que no cuenta con una suscripción activa, para adquirir un plan puede <a class="text-danger text-u-l" href="/pricing" onclick="window.location = '/pricing'">Solicitar uno aquí</a>.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="pull-right pull-none-xs text-center">
                    <a href class="m-b-md inline m">
                        <span class="h3 block font-bold">{{comunity.publisher_count}}</span>
                        <small>Publicadores</small>
                    </a>
                    <a href class="m-b-md inline m">
                        <span class="h3 block font-bold">{{comunity.group_count}}</span>
                        <small>Grupos</small>
                    </a>
                    <a href class="m-b-md inline m">
                        <span class="h3 block font-bold">{{comunity.entry_count}}</span>
                        <small>Entradas</small>
                    </a>
                    <a href class="m-b-md inline m">
                        <span class="h3 block font-bold">{{comunity.publication_count}}</span>
                        <small>Publicaciones</small>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
        <ul class="nav nav-pills nav-sm">
            <li>
                <div class="btn-group dropdown" dropdown="" title="Filtrar por publicador">
                    
                </div>
            </li>
        </ul>
    </div>
    <div class="wrapper">      
        <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Opciones</div>
        <div class="panel-body">
          <form role="form" class="ng-pristine ng-valid">
                <div class="form-group">
                  <label>Nombre de la comunidad</label>
                  <input type="text" class="form-control" ng-model="comunity.name" placeholder="Ingrese un nombre">
                </div>
                <div class="form-group">
                  <label>Correo de contacto</label>
                  <input type="email" class="form-control" ng-model="comunity.email" placeholder="Ingrese un correo">
                </div>
                <div class="form-group">
                  <label>Número Whatsapp</label>
                  <input type="text" class="form-control" ng-model="comunity.whatsapp" placeholder="Ingrese un número ej. +51999999999">
                </div>
                <div class="form-group" ng-show="(app.loginuser.role == 'admin')">
                    <label>Api del Blog de Wordpress</label>
                    <input type="text" class="form-control" ng-model="comunity.wordpress" placeholder="Ingrese una url">
                </div>
              <button type="submit" class="btn btn-sm btn-primary" ng-click="saveOptions(comunity)">Guardar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Configuración</div>
        <div class="panel-body">
          <form role="form" class="ng-pristine ng-valid">
            <div class="form-group">
              <label>Tiempo entre publicaciones (minutos) <i class="fa fa-question-circle" title="Representa la cantidad de minutos entre publicaciones predeterminada para los publicadores, este valor se puede moficiar individualmente para cada publicador"></i></label>
              <input type="text" class="form-control" ng-model="comunity.time_betwen_pubs" placeholder="Ingrese un tiempo en minutos entre 1 y 60">
            </div>
            <div class="form-group">
                <label>Probabilidad de publicación (%) <i class="fa fa-question-circle" title="Representa la probabilidad predeterminada para que a un publicador le toque publicar o no, este valor se puede moficiar individualmente para cada publicador"></i></label>
                <input type="text" class="form-control" ng-model="comunity.oportunity_publish" placeholder="Ingrese un número de porcentaje entre 0 y 100">
            </div>
            <button type="submit" class="btn btn-sm btn-primary" ng-click="saveConfig(comunity)">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
        
    </div>
  </div>
  <div class="col w-lg bg-light lter b-l bg-auto">
    <div class="wrapper">
        <div class="panel b-a" ng-show="announcements">
            <h4 class="font-thin padder">Ultimos Anuncios</h4>
            <ul class="list-group">
              <li class="list-group-item">
                  <p>Wellcome <a href class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                  <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
              </li>
            </ul>
        </div>
        <div class="">
          <h4 class="m-t-xs m-b-xs">Publicadores</h4>
          <ul class="list-group no-bg no-borders pull-in">
              <li class="list-group-item" ng-class="{'active' : publisher.id == params.filterByPublisherId}" ng-repeat="publisher in publishers | orderBy : '-last_publication_time'">
                  <a herf ng-click="loadPublications({filterByPublisherId : publisher.id})" class="pull-left thumb-sm avatar m-r">
                      <img ng-src="{{publisher.image_url}}" alt="..." class="img-circle">
                      <i class="b-white bottom" ng-class="{'on' : publisher.can_publish, 'busy' : !publisher.can_publish}"></i>
                  </a>
                  <div class="clear">
                      <div><a>{{publisher.name}}</a></div>
                      <small class="text-muted" title="Última publicación {{publisher.last_publication_time?(publisher.last_publication_time*1000 | date:'dd/MM/yyyy h:mm a'):'nunca'}}">{{publisher.last_publication_time?(publisher.last_publication_time | fromNow):"Aún no ha publicado"}}</small>
                  </div>
              </li>
          </ul>
        </div>
        
    </div>
  </div>
</div>