<div class="hbox hbox-auto-xs bg-light scroll-y" ng-init="app.settings.asideFixed = true;app.settings.asideDock = false;app.settings.container = false;app.hideAside = false;app.hideFooter = true;" ng-controller="PublisherListCtrl">
    <div class="col">
        <div class="vbox">
            <div class="bg-light lter b-b wrapper-md" ng-init="ut_selected = 'all'">
                <label class="font-thin h3 m-r">Publicadores</label>
                <a class="m-b-sm btn btn-xs btn-info" ng-click="createPublisher()"><i class="fa fa-plus fa-fw"></i> Agregar</a>
                <a class="m-b-sm btn btn-xs" ng-class="{'btn-success':copiedLinkAddPublisher,'btn-info':!copiedLinkAddPublisher}" ng-click="copyLinkAddPublisher()" title="Puede copiar un enlace para agregar al publicador desde otro navegador"><i class="fa fa-fw" ng-class="{'fa-check':copiedLinkAddPublisher,'fa-link':!copiedLinkAddPublisher}"></i> {{copiedLinkAddPublisher?"Copiado":"Copiar enlace"}}</a>
                <button class="m-t-xs btn btn-xs btn-info pull-right ng-binding" ng-click="loadPublishers()"><i class="fa fa-refresh" ng-class="{'fa-spin' : gettingPublishers}"></i> Actualizar lista</button>
            </div>
            <div class="row-row">
                <div class="cell  bg-white">
                    <div class="cell-inner">
                        <div>
                            <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th class="hidden-sm" ng-hide="">Publicaciones</th>
                                        <th class="hidden-sm" ng-hide="">Estado</th>
                                        <th class="hidden-sm" ng-hide="selectedPublisher">Grupos</th>
                                        <th class="hidden-sm" ng-hide="selectedPublisher">Perfil</th>
                                    </tr>
                                    </thead>
                                    <tbody class="">
                                        <tr ng-repeat="publisher in publishers" ng-click="editPublisher(publisher)" style="cursor: pointer" ng-class="{'active':publisher==selectedPublisher}">
                                            <td>
                                                <a class="pull-left thumb-sm avatar m-r">
                                                    <img ng-src="{{publisher.image_url}}" class="img-circle">
                                                    <i class="b-white bottom" ng-class="{'on':publisher.can_publish,'busy':!publisher.can_publish}"></i>
                                                </a>
                                                <div class="text-b">{{publisher.name}}</div>
                                                <span class="text-muted" title="{{publisher.last_publication_time?(publisher.last_publication_time*1000 | date:'dd/MMM/yyyy h:mm a'):''}}"> {{publisher.last_publication_time?('Última publicación ' +(publisher.last_publication_time | fromNow) ):'Aún no ha publicado' }}</span>
                                            </td>
                                            <td>
                                                <div class="inline m-r text-left">
                                                    <div class="m-b-xs">
                                                        <span ng-pluralize count="publisher.publication_counts[publisher.publication_counts.length-1]" when="{'0': 'No publicó hoy','1': '1 Hoy','other': '{} Hoy'}"></span>
                                                        - 
                                                        <span class="text-muted text-xs" ng-pluralize count="publisher.publication_counts[publisher.publication_counts.length-2]" when="{'0': 'No publicó ayer','1': '1 Ayer','other': '{} Ayer'}"></span>
                                                    </div>
                                                    <div ui-jq="sparkline" 
                                                        ui-options="{{publisher.publication_counts}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}" 
                                                        class="sparkline inline">cargando...
                                                    </div>

                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <label class="i-switch" ng-click="$event.stopPropagation();">
                                                        <input type="checkbox" ng-model="publisher.can_publish"  ng-change="changeCanPublish(publisher)">
                                                        <i></i>
                                                    </label>
                                                </div>
                                                <span class="text-muted">
                                                {{(publisher.can_publish?'Activo':'Inactivo')
                                                            + (publisher.from?(' hasta '+(publisher.from|fromNow) + ': ' + (publisher.from*1000|date:'dd/MM/yy h:mm a')) + ' luego ':'') 
                                                            + (publisher.until?(' hasta ' + (publisher.until*1000|date:'dd/MM/yy h:mm a')):' indefinidamente')
                                                            + (!publisher.can_publish && publisher.cant_publish_reason?(" debido a '" + publisher.cant_publish_reason + "'"):'')
                                                }}
                                                </span>
                                            </td>
                                            <td ng-hide="selectedPublisher">
                                                <div>
                                                    <label ng-pluralize count="publisher.count_all_groups" when="{'0': 'Ningún grupo','1': '1 Grupo','other': '{} Grupos'}"></label>
                                                </div>
                                                <span class="text-muted" ng-pluralize count="publisher.count_active_groups" when="{'0': 'Ningún activo','1': '1 activo','other': '{} activos'}"></span>
                                            </td>
                                            <td class="hidden-sm" ng-hide="selectedPublisher">
                                                {{publisher.role=='admin'?'Administrador':(publisher.role=='user'?'Usuario':(publisher.role=='publisher'?'Bot':'Bot'))}}
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col b-l" ng-show="!!selectedPublisher">
        <div class="vbox bg-light">
            <div class="wrapper bg-light  dker lt b-b">
                <img ng-src="{{selectedPublisher.image_url}}" class="avatar thumb-sm pull-left m-r-sm"/>
                <div class="clear">
                    <a ng-click="selectedPublisher = null" title="Cerrar" class="text-muted pull-right m-r-md"><i class="icon-close text-md"></i></a>
                    <a ng-click="updatePublisherFromFacebook(selectedPublisher)" title="Actualizar datos desde Facebook" class="text-muted pull-right m-r-md" style="color:#4c69ba">
                        <i class="fa  text-md" ng-class="{'fa-facebook' : !updatingFromFacebook, 'fa-refresh fa-spin' : updatingFromFacebook}"></i>
                    </a>
                    <a ng-click="copyLinkAuthorizeFacebook(selectedPublisher)" ng-show="selectedPublisher.app_valid" title="Copiar enlace para autorizar a la aplicación desde Facebook" class="text-muted pull-right m-r-md" style="color:#4c69ba">
                        <i class="fa fa-link text-md"></i>
                    </a>
                    <small class="text-info pull-right m-r-md" ng-show="saving"><i class="fa fa-spinner fa-spin"></i> Guardando...</small>
                    <div><a href="http://facebook.com/{{selectedPublisher.id}}" target="_blank" title="Ir a cuenta de Facebook">{{selectedPublisher.name}}</a></div>
                    <small class="text-muted">última publicación {{selectedPublisher.last_publication_time?((selectedPublisher.last_publication_time | fromNow) + ' | ' + (selectedPublisher.last_publication_time*1000 | date:'MM/dd/yyyy h:mm a')):'nunca' }}</small>
                </div>
            </div>
            <div class="nav-tabs-alt">
                <ul class="nav nav-tabs nav-justified">
                    <li ng-class="{'active': tabs[0]}" dropdown>
                        <a ng-click="tab(0)">
                            <i class="fa fa-cog text-md text-muted wrapper-xs"></i> {{selectedPublisher.role=='admin'?'Administrador':(selectedPublisher.role=='user'?'Usuario':(selectedPublisher.role=='publisher'?'Publicador':'Publicador'))}}
                            &nbsp;
                            <i ng-show="app.loginuser.id != selectedPublisher.id" title="Cambiar perfil" class="fa fa-caret-down" dropdown-toggle></i>
                        </a>
                        <ul class="dropdown-menu m-l-xxl">
                            <li ng-show="app.loginuser.role=='admin'" ng-click="savePublisher('role','admin')"><a href="">Administrador</a></li>
                            <li ng-click="savePublisher('role','user')"><a href="">Usuario</a></li>
                            <li ng-click="savePublisher('role','publisher')"><a href="">Publicador</a></li>
                        </ul>
                    </li>
                    <li ng-class="{'active': tabs[1]}">
                        <a ng-click="loadGroups(selectedPublisher);tab(1)">
                            <i class="fa fa-group text-md text-muted wrapper-xs"></i> Grupos ({{selectedPublisher.count_all_groups}})
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row-row">
                <div class="cell scrollable">
                    <div class="cell-inner m-b-lg">
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'active': tabs[0]}">
                                <form name="edit_publisher">
                                    <div class="form-group col-lg-4" ng-show="selectedPublisher.role=='admin'||selectedPublisher.role=='user'">
                                        <label>Nombre de usuario</label>
                                        <input class="form-control" type="text" ng-model="selectedPublisher.username" placeholder="Nombre de usuario" disabled/>
                                    </div>
                                    <div class="form-group col-lg-4" ng-show="selectedPublisher.role=='admin'||selectedPublisher.role=='user'">
                                        <label>Nombre</label>
                                        <input class="form-control" type="text" ng-model="selectedPublisher.name" placeholder="Nombre" required ng-change="savePublisher('name')" disabled/>
                                    </div>
                                    <div class="form-group col-lg-4" ng-show="selectedPublisher.role=='admin'||selectedPublisher.role=='user'">
                                        <label>Email</label>
                                        <input class="form-control" type="email" ng-model="selectedPublisher.email" placeholder="Correo electrónico" required ng-change="savePublisher('email')" disabled/>
                                    </div>
                                    
                                    <div class="form-group m-t col-lg-6">
                                        <label>Tiempo entre publicaciones: </label>
                                        <div class=''>
                                            <input id="slider-time" ui-jq="slider" ui-options="{min: 1,max: 60,step: 1}" class="slider slider-horizontal" type="text">
                                            <small class="m-l">{{selectedPublisher.time_betwen_pubs}} minuto{{selectedPublisher.time_betwen_pubs>1?'s':''}}</small>
                                        </div>
                                        <div>
                                            <small class="text-muted">Máximo {{(24*60/selectedPublisher.time_betwen_pubs)|number:0}} publicaciones por dia</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Probabilidad de publicación: </label>
                                        <div>
                                            <input id="slider-prob" ui-jq="slider" ui-options="{min: 1,max: 100,step: 1}" class="slider slider-horizontal" type="text">
                                            <small class="m-l">{{selectedPublisher.oportunity_publish}}%</small>
                                        </div>
                                        <div>
                                            <small class="text-muted">Aproximadamente {{((24*60/selectedPublisher.time_betwen_pubs)*(selectedPublisher.oportunity_publish/100))|number:0}} publicaciones por dia</small>
                                        </div>
                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tabs[1]}">
                                <div class="wrapper-md">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched" placeholder="Buscar" ng-model="query" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }">
                                        <span class="input-group-addon input-sm info" ng-style="query?{'cursor':'pointer'}:''" ng-click="query && (query='')">
                                            <i class="fa fa-search" ng-class="{'fa-search':!query,'fa-times':query}"></i>
                                        </span>
                                    </div>
                                    <ul class="list-group no-borders pull-in auto">
                                      <li class="list-group-item bg-light" ng-repeat="group in selectedPublisher.groups | orderBy:'name' | filter : query " ng-class="{'grayscale text-l-t' : !group.can_publish}">
                                        <span class="pull-left thumb-sm m-r"><img ng-src="{{group.image_url}}" class="img-circle"></span>
                                        <a href class="text-muted" ng-click="changeStatusUserGroup(selectedPublisher, group)" title="{{group.reason}}">
                                            <i class="pull-right m-t-sm text-sm" ng-class="{'icon-check text-success' : group.active, 'icon-ban text-danger' : !group.active}"></i>
                                        </a>
                                        <div class="clear">
                                          <div><a href="http://facebook.com/{{group.wall_id}}" target="_blank">{{group.name}}</a></div>
                                          <small class="text-muted">&nbsp;</small>
                                        </div>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padder b-t b-light ">
                <div class="m-xs pull-left">
                    <button class="m-t-xs btn btn-sm w-sm" ng-class="{'btn-success' : selectedPublisher.app_valid, 'btn-danger' : !selectedPublisher.app_valid}" ng-click="showConfigureApp(selectedPublisher)"><i class="fa fa-facebook fa-fw"></i> {{selectedPublisher.app_valid?"Modificar":"Configurar"}} el APP</button>
                </div>
                <div class="m-xs pull-right">
                    <a class="m-t-xs btn btn-sm btn-primary" ng-click="showChangePassword(selectedPublisher)" ng-show="selectedPublisher.role=='admin'||selectedPublisher.role=='user'"><i class="fa fa-key fa-fw"></i></a>
                    <a class="m-t-xs btn btn-sm btn-danger" ng-click="deletePublisher(selectedPublisher)" ng-show="(app.loginuser.id != selectedPublisher.id)"><i class="fa fa-times fa-fw"></i> Eliminar publicador</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modalCreatePublisherContent.html">
<div class="modal-header">
    <h3 class="modal-title">Nuevo usuario</h3>
    </div>
    <div class="modal-body">
        <form name="create_publisher">
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" type="text" ng-model="newPublisher.displayname" placeholder="Nombre" required/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" ng-model="newPublisher.email" placeholder="Correo electrónico" required/>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" type="password" ng-model="newPublisher.password" placeholder="Contraseña" required/>
            </div>
            <div class="form-group" ng-show="app.loginuser.role=='superadmin' || app.loginuser.role=='admin'">
                <label>Perfil</label>
                <select ng-model="newPublisher.role" class="form-control input-sm">
                    <option value="superadmin" ng-show="app.loginuser.role=='superadmin'">SuperAdministrador</option>
                    <option value="admin">Administrador de empresa</option>
                    <option value="employe">Empleado</option>
                </select>
            </div>
            <div class="form-group" ng-show="app.loginuser.role=='superadmin'">
                <label>Empresa {{enterprises.length}}</label>
                <ui-select ng-model="newPublisher.enterprise" theme="bootstrap">
                    <ui-select-match placeholder="Seleccionar o buscar una empresa...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="enterprise in enterprises | filter: $select.search">
                      <div ng-bind-html="enterprise.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <small class="text-{{result}}">{{resultmsg}}&nbsp;</small>
            <small class="text-warning" ng-show="create_publisher.$invalid">Por favor complete todos los campos</small>
        </form>
    </div>
    <div class="modal-footer"  ng-disabled="creating">
    <button class="btn btn-default" ng-class="{'btn-success':!create_publisher.$invalid}" ng-click="ok()" ng-disabled="create_publisher.$invalid">Aceptar</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
</script>
<script type="text/ng-template" id="ModalChangePasswordContent.html">
<div class="modal-header">
    <h3 class="modal-title">Cambiar contraseña</h3>
    </div>
    <div class="modal-body">
        <form name="create_publisher">
            <div class="form-group">
                <label>Nueva contraseña</label>
                <input class="form-control" type="password" ng-model="new_password" placeholder="Contraseña" required/>
            </div>
            <div class="form-group">
                <label>Confirmar nueva contraseña</label>
                <input class="form-control" type="password" ng-model="new_repassword" placeholder="Contraseña" required/>
            </div>
            <small class="text-danger">{{saving?'':resultmsg}}&nbsp;</small>
            <small class="text-warning" ng-show="create_publisher.$invalid">Por favor complete todos los campos</small>
        </form>
    </div>
    <div class="modal-footer">
    <button class="btn btn-default" ng-class="{'btn-success':!create_publisher.$invalid}" ng-click="save()" ng-disabled="create_publisher.$invalid || saving">Aceptar</button>
    <button class="btn btn-default" ng-click="cancel()" ng-disabled="saving">Cancelar</button>
</div>
</script>
<script type="text/ng-template" id="ModalConfigureAppContent.html">
<div class="modal-header">
    <h3 class="modal-title">Configurar aplicación Facebook</h3>
    </div>
    <div class="modal-body">
        <form name="configure_app">
        <tabset justified="true" class="tab-container">
            <tab heading="Propio">
                <div class="form-group text-justified">
                    <p class="text-muted">Si tiene una aplicación propia puede ingresar el ID y el código de seguridad de su aplicación. Es recomendable que su apicación sea de una versión v2.3 o inferior. Si no tiene una aplicación puede usar la pestaña de solicitar una.</p>
                    <p><img ng-src="img/myapp.gif" style="width:100%"/></p>
                </div>
                <div class="form-group">
                    <label>App ID</label>
                    <input class="form-control" type="text" ng-model="form.app_id" placeholder="ID de la aplicación" required/>
                </div>
                <div class="form-group">
                    <label>App Secret</label>
                    <input class="form-control" type="text" ng-model="form.app_secret" placeholder="Clave secreta de la aplicación" required/>
                </div>
                <small class="text-danger">{{saving?'':resultmsg}}&nbsp;</small>
                <small class="text-warning" ng-show="configure_app.$invalid">Por favor complete todos los campos</small>
            </tab>
            <tab heading="Solicitar">
                <div class="form-group">
                    <p class="text-muted">
                    Para esta operación necesitará conocer su ID de usuario numérico de Facebook. Para conocer su ID numérico puede ir a esta dirección 
                    <a href="http://findmyfacebookid.com/" title="Aquí puede conocer su ID numérico de usuario de Facebook" target="_blank">http://findmyfacebookid.com/</a>
                    colocar la dirección de su perfil de facebook y encontrará su ID numérico, el cual tiene que ingresarlo en el siguiente cuadro y solicitar un token:
                    </p>
                </div>
                <div class="form-group">
                    <label>ID del usuario de Facebook</label>
                    <input class="form-control" type="text" ng-model="form.fb_id" ng-disable="saving || form.verifying" placeholder="ID del usuario de facebook" />
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" ng-click="requestToken()" ng-disabled="saving || form.verifying">Solicitar un token</a>
                </div>
                <div class="form-group">
                    <p class="text-center"><img ng-src="img/notofyapp.gif" style="max-width:100%"/></p>
                    <p class="text-muted">
                    Le llegará una solicitud de invitación al FB del usuario que acaba de colocar el ID, una vez haya aceptado habrá terminado de configurar su aplicación
                    </p>
                    <p class="text-center text-2x">
                        <i class="fa" ng-class="{'fa-spinner fa-spin' : form.verifying && !form.verified, 'fa-check' : form.verified}"></i>
                        {{(form.verifying && !form.verified)?"Verificando...":(form.verified?"Verificado":"")}}
                    </p>
                </div>
            </tab>
        </tabset>
        </form>
    </div>
    <div class="modal-footer">
    
    <button class="btn btn-default" ng-class="{'btn-success':!configure_app.$invalid}" ng-click="save()" ng-disabled="configure_app.$invalid || saving">
        <i ng-class="{'fa fa-spinner fa-spin' : saving}"></i> Aceptar
    </button>
    <button class="btn btn-default" ng-click="cancel()" ng-disabled="saving">Cancelar</button>
</div>
</script>
<script type="text/ng-template" id="ModalChangeCanPublishContent.html">
<div class="modal-header">
    <h3 class="modal-title">{{activate?'Activar':'Desactivar'}} Publicaciones</h3>
</div>
<div class="modal-body no-padder">
    <div class="list-group m-n no-radius alt">
        <a class="list-group-item" href="" ng-click="defineStartDate = !defineStartDate; defineEndDate = false">
            <i class="fa" ng-class="{'fa-arrow-circle-down':!defineStartDate,'fa-arrow-circle-up':defineStartDate}"></i> Desde {{startDate | date:'dd/MMM/yyyy '}} {{startTime | date:'h:mm a'}}
        </a>
        <div class="list-group-item" ng-show="defineStartDate">
            <datepicker ng-model="startDate" min-date="now" show-weeks="true" class="datepicker" style="width:260px;margin:0 auto"></datepicker>
            <timepicker ng-model="startTime" hour-step="1" minute-step="1" show-meridian="true" style="margin:0 auto"></timepicker>
        </div>
        

        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="addMinutes(15);defineStartDate=false;defineEndDate=false;">
            Durante 15 minutos
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="addMinutes(60);defineStartDate=false;defineEndDate=false;">
            Durante 1 hora
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="addMinutes(240);defineStartDate=false;defineEndDate=false;">
            Durante 4 horas
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="addMinutes(480);defineStartDate=false;defineEndDate=false;">
            Durante 8 horas
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="addMinutes(9999999);defineStartDate=false;defineEndDate=false;">
            Indefinidamente
        </a>
        <a class="list-group-item" href="" ng-click="defineEndDate = !defineEndDate; defineStartDate = false">
            <i class="fa" ng-class="{'fa-arrow-circle-down':!defineEndDate,'fa-arrow-circle-up':defineEndDate}"></i> Hasta {{endDate | date:'dd/MMM/yyyy '}} {{endTime | date:'h:mm a'}}
        </a>
        <div class="list-group-item" ng-show="defineEndDate">
            <datepicker ng-model="endDate" min-date="startDate" show-weeks="true" class="datepicker" style="width:260px;margin:0 auto"></datepicker>
            <timepicker ng-model="endTime" hour-step="1" minute-step="1" show-meridian="true" style="margin:0 auto"></timepicker>
        </div>
        
    </div>
    
    <a ng-show="resultmsg" class="text-danger">{{resultmsg}}</a>
</div>
<div class="modal-footer">
    <a class="pull-left text-warning">{{!endDate?'Falta definir la fecha de fin':(!endTime?'Falta definir la hora de fin':'')}}</a>
    
    <button class="btn btn-success" ng-click="save()" ng-disabled="(!endDate || !endTime) || saving">
        <i ng-class="{'fa fa-spinner fa-spin' : saving}"></i> Aceptar
    </button>
    <button class="btn btn-default" ng-click="cancel()" ng-disabled="saving">Cancelar</button>
</div>
</script>
<div id="fb-root"></div>