<div class="hbox hbox-auto-xs bg-light scroll-y" ng-init="app.settings.asideFixed = true;app.settings.asideDock = false;app.settings.container = false;app.hideAside = false;app.hideFooter = true;" ng-controller="PublisherCtrl">
    <div class="col b-l" ng-show="!!publisher">
        <div class="vbox bg-light">
            <div class="wrapper bg-light  dker lt b-b">
                <img ng-src="{{publisher.image_url}}" class="avatar thumb-sm pull-left m-r-sm"/>
                <div class="clear">
                    <a ng-click="publisher = null" title="Cerrar" class="text-muted pull-right m-r-md"><i class="icon-close text-md"></i></a>
                    <a ng-click="updatePublisherFromFacebook(publisher)" title="Actualizar datos desde Facebook" class="text-muted pull-right m-r-md" style="color:#4c69ba">
                        <i class="fa  text-md" ng-class="{'fa-facebook' : !updatingFromFacebook, 'fa-refresh fa-spin' : updatingFromFacebook}"></i>
                    </a>
                    <small class="text-info pull-right m-r-md" ng-show="saving"><i class="fa fa-spinner fa-spin"></i> Guardando...</small>
                    <div><a href="http://facebook.com/{{publisher.id}}" target="_blank" title="Ir a cuenta de Facebook">{{publisher.name}}</a></div>
                    <small class="text-muted">última publicación {{publisher.last_publication_time?((publisher.last_publication_time | fromNow) + ' | ' + (publisher.last_publication_time*1000 | date:'MM/dd/yyyy h:mm a')):'nunca' }}</small>
                </div>
            </div>
            <div class="nav-tabs-alt">
                <ul class="nav nav-tabs nav-justified">
                    <li ng-class="{'active': tabs[0]}">
                      <a href ng-click="tab(0)">
                          <i class="fa fa-user text-md text-muted wrapper-xs"></i> Perfil
                      </a>
                    </li>
                    <li ng-class="{'active': tabs[1]}">
                        <a href ng-click="tab(1)">
                            <i class="fa fa-group text-md text-muted wrapper-xs"></i> Grupos ({{publisher.groups.length}})
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row-row">
                <div class="cell scrollable">
                    <div class="cell-inner m-b-lg">
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'active': tabs[0]}">
                                <form name="edit_publisher">
                                    <div class="form-group col-lg-6">
                                        <label>Nombre de usuario</label>
                                        <input class="form-control" type="text" ng-model="publisher.username" placeholder="Nombre de usuario" disabled/>
                                    </div>
                                    <div class="form-group col-lg-6" ng-show="(app.loginuser.role=='admin')">
                                        <label>Perfil</label>
                                        <select ng-model="publisher.role" class="form-control" ng-disabled="(app.loginuser.id == publisher.id)" ng-change="savePublisher('role')">
                                            <option value="admin">Administrador</option>
                                            <option value="user">Usuario</option>
                                            <option value="publisher">Publicador</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Nombre</label>
                                        <input class="form-control" type="text" ng-model="publisher.name" placeholder="Nombre" required ng-change="savePublisher('name')" disabled/>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Email</label>
                                        <input class="form-control" type="email" ng-model="publisher.email" placeholder="Correo electrónico" required ng-change="savePublisher('email')" disabled/>
                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group col-lg-6">
                                        <label>Tiempo entre publicaciones: <small>{{publisher.time_betwen_pubs}} minuto{{publisher.time_betwen_pubs>1?'s':''}}</small></label>
                                        
                                        <slider ng-model="slider.time_betwen_pubs" floor="1" ceiling="60" ng-change="savePublisher('time_betwen_pubs',slider.time_betwen_pubs)"></slider>

                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Probabilidad de publicación: <small>{{publisher.oportunity_publish}}%</small></label>
                                        
                                        <slider ng-model="slider.oportunity_publish" floor="1" ceiling="100" ng-change="savePublisher('oportunity_publish',slider.oportunity_publish)"></slider>

                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group col-lg-6" ng-show="(publisher.role=='admin' || publisher.role=='user') && (publisher.id!=app.loginuser.id)">
                                        <div class="checkbox">
                                            <label class="i-checks m-r">
                                                <input type="checkbox" ng-model="publisher.can_login" ng-change="savePublisher('can_login')" ng-disabled="app.loginuser.id==publisher.id"><i></i> Puede iniciar sesión
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                <input type="checkbox" ng-model="publisher.can_publish" ng-change="changeCanPublish(publisher)"><i></i> Puede publicar <small class="text-muted">{{publisher.until?((publisher.can_publish?'Activo':'Inactivo')+' hasta '+(publisher.until|fromNow) + ': ' + (publisher.until*1000|date:'MM/dd/yyyy h:mm a')):''}}</small>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group col-lg-12">
                                        <div>
                                            <button class="btn btn-sm w-sm" ng-class="{'btn-success' : publisher.app_valid, 'btn-danger' : !publisher.app_valid}" ng-click="showConfigureApp(publisher)"><i class="fa fa-facebook fa-fw"></i> {{publisher.app_valid?"Modificar":"Configurar"}} el APP</button>
                                            
                                        </div>
                                    </div>

                                    <small class="text-{{result}}">{{resultmsg}}&nbsp;</small>
                                    <small class="text-warning" ng-show="create_publisher.$invalid">Por favor complete todos los campos</small>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{'active': tabs[1]}">
                                <div class="wrapper-md">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched" placeholder="Buscar" ng-model="query" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }">
                                        <span class="input-group-addon input-sm info" ng-style="query?{'cursor':'pointer'}:''" ng-click="query && (query='')">
                                            <i class="fa fa-search" ng-class="{'fa-search':!query,'fa-times':query}"></i>
                                        </span>
                                    </div>
                                    <ul class="list-group no-borders pull-in auto">
                                      <li class="list-group-item bg-light" ng-repeat="group in publisher.groups | orderBy:'name' | filter : query " ng-class="{'grayscale text-l-t' : !group.can_publish}">
                                        <span class="pull-left thumb-sm m-r"><img ng-src="{{group.image_url}}" alt="..." class="img-circle"></span>
                                        <a href class="text-muted" ng-click="changeStatusUserGroup(publisher, group)">
                                            <i class="pull-right m-t-sm text-sm" ng-class="{'icon-check text-success' : group.active, 'icon-ban text-danger' : !group.active}"></i>
                                        </a>
                                        <div class="clear">
                                          <div><a href="http://facebook.com/{{group.id}}" target="_blank">{{group.name}}</a></div>
                                          <small class="text-muted">&nbsp;</small>
                                        </div>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padder b-t b-light text-right">
                <div class="m-xs">
                    <a class="m-t-xs btn btn-sm btn-primary" ng-click="showChangePassword(publisher)"><i class="fa fa-key fa-fw"></i></a>
                    <a class="m-t-xs btn btn-sm btn-danger" ng-click="deletePublisher(publisher)" ng-show="(app.loginuser.id != publisher.id)"><i class="fa fa-times fa-fw"></i> Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="ModalChangePasswordContent.html">
<div class="modal-header">
    <h3 class="modal-title">Cambiar contraseña</h3>
    </div>
    <div class="modal-body">
        <form name="create_publisher">
            <div class="form-group">
                <label>Nueva contraseña</label>
                <input class="form-control" type="password" ng-model="new_password" placeholder="Contraseña" required/>
            </div>
            <div class="form-group">
                <label>Confirmar nueva contraseña</label>
                <input class="form-control" type="password" ng-model="new_repassword" placeholder="Contraseña" required/>
            </div>
            <small class="text-danger">{{saving?'':resultmsg}}&nbsp;</small>
            <small class="text-warning" ng-show="create_publisher.$invalid">Por favor complete todos los campos</small>
        </form>
    </div>
    <div class="modal-footer">
    <button class="btn btn-default" ng-class="{'btn-success':!create_publisher.$invalid}" ng-click="save()" ng-disabled="create_publisher.$invalid || saving">Aceptar</button>
    <button class="btn btn-default" ng-click="cancel()" ng-disabled="saving">Cancelar</button>
</div>
</script>
<script type="text/ng-template" id="ModalConfigureAppContent.html">
<div class="modal-header">
    <h3 class="modal-title">Configurar aplicación Facebook</h3>
    </div>
    <div class="modal-body">
        <form name="configure_app">
            <div class="form-group">
                <label>App ID</label>
                <input class="form-control" type="text" ng-model="app_id" placeholder="ID de la aplicación" required/>
            </div>
            <div class="form-group">
                <label>App Secret</label>
                <input class="form-control" type="text" ng-model="app_secret" placeholder="Clave secreta de la aplicación" required/>
            </div>
            <small class="text-danger">{{saving?'':resultmsg}}&nbsp;</small>
            <small class="text-warning" ng-show="configure_app.$invalid">Por favor complete todos los campos</small>
        </form>
    </div>
    <div class="modal-footer">
    <button class="btn btn-default" ng-class="{'btn-success':!configure_app.$invalid}" ng-click="save()" ng-disabled="configure_app.$invalid || saving">
        <i ng-class="{'fa fa-spinner fa-spin' : saving}"></i> Aceptar
    </button>
    <button class="btn btn-default" ng-click="cancel()" ng-disabled="saving">Cancelar</button>
</div>
</script>
<script type="text/ng-template" id="ModalChangeCanPublishContent.html">
<div class="modal-header">
    <h3 class="modal-title">{{activate?'Activar':'Desactivar'}} Publicaciones</h3>
</div>
<div class="modal-body no-padder">
    <div class="list-group m-n no-radius alt">
        <a class="list-group-item" href="" ng-click="defineDateTime = !defineDateTime">
            Definir fecha y hora
        </a>
        <div class="list-group-item" ng-show="defineDateTime">
            <datepicker ng-model="date" min-date="now" show-weeks="true" class="datepicker"></datepicker>
            <timepicker ng-model="time" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
        </div>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="save(getAddMinutesFromNow(15))">
            Durante 15 minutos
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="save(getAddMinutesFromNow(60))">
            Durante 1 hora
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="save(getAddMinutesFromNow(240))">
            Durante 4 horas
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="save(getAddMinutesFromNow(480))">
            Durante 8 horas
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="save(getTomorrowHourExact(5))">
            Hasta mañana a las 5:00am
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="save(getTomorrowHourExact(8))">
            Hasta mañana a las 8:00am
        </a>
        <a class="list-group-item" href="" ng-hide="defineDateTime" ng-click="save(0)">
            Indefinidamente
        </a>
    </div>
    <a ng-show="resultmsg" class="text-danger">{{resultmsg}}</a>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-show="defineDateTime" ng-click="save(getSelectedDateTime())" ng-disabled="saving">
        <i ng-class="{'fa fa-spinner fa-spin' : saving}"></i> Aceptar
    </button>
    <button class="btn btn-default" ng-click="cancel()" ng-disabled="saving">Cancelar</button>
</div>
</script>
<div id="fb-root"></div>