<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="PublicationListCtrl">
  <div class="col">
    <div style="background-size:cover">
      <div class="wrapper-sm bg-white-opacity">
        <div class="row m-t">
            <div class="col-sm-6">
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                  <span class="h3 text-black">{{comunity.name}}</span>
                  <p class="m-t h4 text-success-dk" ng-show="comunity.subscription">Plan {{comunity.subscription.plan_name}} - {{comunity.subscription.active_users}} usuario(s) activo(s) - 
                      <span>Termina el {{comunity.subscription.end_date}} {{comunity.subscription.end_time | fromNow}}</span>
                  </p>
                  <p class="m-t h4 text-danger" ng-show="comunity && !comunity.subscription">
                      No se encuentra publicando ya que no cuenta con una suscripción activa, para adquirir un plan puede <a class="text-danger text-u-l" href="/pricing" onclick="window.location = '/pricing'">Solicitar uno aquí</a>.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="pull-right pull-none-xs text-center">
                    <a href class="m-b-md inline m">
                        <span class="h3 block font-bold">{{comunity.publisher_count}}</span>
                        <small>Publicadores</small>
                    </a>
                    <a href class="m-b-md inline m">
                        <span class="h3 block font-bold">{{comunity.group_count}}</span>
                        <small>Grupos</small>
                    </a>
                    <a href class="m-b-md inline m">
                        <span class="h3 block font-bold">{{comunity.entry_count}}</span>
                        <small>Entradas</small>
                    </a>
                    <a href class="m-b-md inline m">
                        <span class="h3 block font-bold">{{comunity.publication_count}}</span>
                        <small>Publicaciones</small>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
        <ul class="nav nav-pills nav-sm">
            <li>
                <div class="btn-group dropdown" dropdown="" title="Filtrar por publicador">
                    <button class="btn btn-sm btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">{{params.filterByPublisherName || 'Filtrar por publicadores'}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="loadPublications({filterByPublisherId : null})">Ver Todos</a></li>
                        <li ng-repeat="publisher in publishers"><a ng-click="loadPublications({filterByPublisherId : publisher.id})">{{publisher.name}}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="padder">      
      <div class="streamline b-l b-info m-l-lg m-b padder-v">
        <div ng-repeat="publication in publications">
          <a class="pull-left thumb-sm avatar m-l-n-md">
            <img ng-src="{{publication.publisher_image_url}}" alt="...">
          </a>          
          <div class="m-l-lg m-b-lg panel b-a lt">
            <div class="panel-heading pos-rlt b-b b-light">
                <span class="arrow left"></span>   
                <a href class="h4">{{publication.publisher_name?publication.publisher_name:'Publicador eliminado'}}</a> 
                <a>publico en</a> 
                <a href="http://www.facebook.com/groups/{{publication.group_wall_id}}" target="_blank" class="h4">{{publication.group_name}}</a>
                <span class="text-muted m-l-sm pull-right text-sm">
                  {{publication.published_time | fromNow}} - {{publication.published_time*1000 | date:'d/M/yy h:mm a'}}
                </span>
            </div>
            <div class="panel-body">
              <blockquote>
                <small>{{publication.message}}</small>
              </blockquote>
              <div>
                <a class="pull-left thumb thumb-wrapper m-r" style="width: 65px;">
                  <img ng-src="{{publication.image}}">
                </a>
                <div class="clear">                        
                  <a href="" class="font-semibold text-ellipsis">{{publication.name}}</a>
                  <div class="text-xs text-ellipsis block m-t-xs">{{publication.description}}</div>
                  <div class="text-xs text-muted text-u-c block m-t-xs">{{publication.caption}}</div>
                </div>
              </div>
                
            </div>
            <div class="panel-footer bg-light lter text-muted" style="padding: 5px 5px">
                <ul class="nav nav-pills nav-xs">
                  <!--<li><a href class="text-muted"><i class="icon-like"></i></a></li>
                  <li><a href class="text-muted"><i class="fa fa-comment-o"></i></a></li>
                  <li class="pull-right"><a href class="text-muted"><i class="fa fa-trash-o"></i></a></li>-->
                </ul>
            </div>
          </div>
        </div>
        <div class="m-l-lg">
            <button class="btn btn-default btn-block btn-xs" ng-click="loadMore()"><i class="fa fa-spinner fa-spin" ng-show="gettingPublications"></i> {{gettingPublications?'Cargando...':'Cargar más...'}}</button>
        </div>
      </div>
        
    </div>
  </div>
  <div class="col w-lg bg-light lter b-l bg-auto">
    <div class="wrapper">
        <div class="">
          <h4 class="m-t-xs m-b-xs">Publicadores</h4>
          <ul class="list-group no-bg no-borders pull-in">
              <li class="list-group-item" ng-class="{'active' : publisher.id == params.filterByPublisherId}" ng-repeat="publisher in publishers | orderBy : '-last_publication_time'">
                  <a herf ng-click="loadPublications({filterByPublisherId : publisher.id})" class="pull-left thumb-sm avatar m-r">
                      <img ng-src="{{publisher.image_url}}" alt="..." class="img-circle">
                      <i class="b-white bottom" ng-class="{'on' : publisher.can_publish, 'busy' : !publisher.can_publish}"></i>
                  </a>
                  <div class="clear">
                      <div><a ng-click="loadPublications({filterByPublisherId : publisher.id})">{{publisher.name}}</a></div>
                      <small class="text-muted" title="Última publicación {{publisher.last_publication_time*1000 | date:'dd/MM/yyyy h:mm a'}}">{{publisher.last_publication_time | fromNow}}</small>
                  </div>
              </li>
          </ul>
        </div>
        <div class="panel b-a" ng-show="lastComments">
            <h4 class="font-thin padder">Ultimos comentarios</h4>
            <ul class="list-group">
              <li class="list-group-item">
                  <p>Wellcome <a href class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                  <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
              </li>
              <li class="list-group-item">
                  <p>Morbi nec <a href class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                  <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
              </li>
              <li class="list-group-item">                     
                  <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                  <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
              </li>
            </ul>
        </div>
        <div class="panel b-light clearfix" ng-show="lastComments">
          <div class="panel-body">
            <a href class="thumb pull-left m-r">
            </a>
            <div class="clear">
              <a href class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
              <small class="block text-muted">2,415 followers / 225 tweets</small>
              <a href class="btn btn-xs btn-success m-t-xs">Follow</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>