<div class="hbox hbox-auto-xs bg-light" ng-init="app.hideFooter=true">
<div ui-view="" class="fade-in-up col lter b-l" ng-controller="GroupListCtrl">
            <div class="vbox">
                <div class="bg-light lter b-b wrapper-sm">
                    <div class=" m-r-sm m-l-sm">
                        <h1 class="m-n font-thin h3"><i class="icon-basket"></i> Grupos
                            <i class="pull-right fa fa-refresh" title="Actualizar entradas" style="cursor: pointer" ng-class="{'fa-spin' : gettingEntries}" ng-click="loadEntries({refresh:1})"></i>
                        </h1>
                    </div>                    
                </div>
                <div class="wrapper-sm">
                    <div ng-show="params">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-bg btn-default" data-placement="bottom" title="Seleccionar todos" ng-click="selectAllGroups()">
                                <i class="fa fa-square-o" ng-class="{'fa-square-o' : isNoneSelected(),'fa-plus-square-o':isAnySelected(),'fa-check-square-o':isAllSelected()}"></i>
                            </button>
                        </div>
                        <div class="btn-group dropdown" dropdown="" ng-show="isAnySelected() || isAllSelected()">
                            <button class="btn btn-sm btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">Acciones <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="addGroupsCategory()">Agregar categoría</a></li>
                                <li><a href="" ng-show="params.filter != 'can_publish'" ng-click="enableSelecteds()">Habilitar seleccionados</a></li>
                                <li><a href="" ng-show="params.filter != 'cant_publish'" ng-click="disableSelecteds()">Inhabilitar grupos seleccionados</a></li>
                            </ul>
                        </div>
                        <div class="pull-right m-b-xs">
                        <div class="btn-group dropdown" dropdown="" title="Ordenado por {{params.orderBy || ''}}">
                            <button class="btn btn-sm btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">{{params.orderBy || 'Seleccione'}} <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="opt in orderByOptions" ng-hide="opt==params.orderBy"><a href="" ng-click="loadEntries({orderBy : opt, page : 1})">{{opt}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group m-l-xs">
                            <button class="btn btn-sm btn-default" ng-class="{'btn-success active' : params.filter != 'can_publish' && params.filter != 'cant_publish'}" ng-click="loadEntries({filter : 'all', page : 1})">Todos</button>
                            <button class="btn btn-sm btn-default" ng-class="{'btn-success active' : params.filter == 'can_publish'}" ng-click="loadEntries({filter : 'can_publish', page : 1})">Activos</button>
                            <button class="btn btn-sm btn-default" ng-class="{'btn-success active' : params.filter == 'cant_publish'}" ng-click="loadEntries({filter : 'cant_publish', page : 1})">Inactivos</button>
                        </div>
                        
                        
                          <div class="w inline v-middle">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched" placeholder="Buscar" ng-model="query" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" ng-change="loadEntries({search : query,page : 1})" >
                                <span class="input-group-addon input-sm info" ng-style="query?{'cursor':'pointer'}:''" ng-click="query && ((query='') || loadEntries({search : query, page : 1}))">
                                    <i class="fa" ng-class="{'fa-search':!query,'fa-times':query}"></i>
                                </span>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="col-md-12  text-center">
                                <div class="alert ng-isolate-scope alert-warning" role="alert" type="warning" ng-hide="gettingEntries || groups.length">
                                    <span class="h4 ng-binding ng-scope"><i class="fa fa-warning"></i> No se encontraron entradas</span>
                                </div>
                            </div>
                            <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                                <li ng-repeat="group in groups" class="list-group-item clearfix b-l-3x ng-scope" ng-click="group.selected = !group.selected" ng-class="{'bg-success lter' : group.selected,'grayscale' : !group.can_publish && params.filter != 'cant_publish'}">
                                    <a class="avatar thumb pull-left m-r">
                                        <img ng-src="{{group.image_url}}">
                                        <i class="b-white bottom icon fa text-white" ng-class="{'on fa-check ' : group.selected, 'off' : !group.selected}"></i>
                                    </a>
                                    <div class="pull-right text-sm text-muted">
                                        <span class="ng-binding" title="Última publicación {{group.last_published_time | date :'MM/dd/yyyy h:mm a'}}" ng-show="group.last_published_time"><i class="fa fa-clock-o"></i> {{group.last_published_time | fromNow}}</span>
                                        <span class="label bg-warning m-l-sm" title="Publicaciones" ng-show="group.publication_count">{{group.publication_count}}</span>
                                    </div>
                                    <div class="clear">
                                      <div>
                                          <a class="text-md" href="http://facebook.com/{{group.wall_id}}" target="_blank" ng-class="{'text-l-t' : !group.can_publish && params.filter != 'cant_publish'}">{{group.name}}</a>
                                          <a title="Click para editar las categorías" ng-click="$event.stopPropagation();">
                                            <!--<span class="label bg-warning m-l-sm dker" ng-show="group.tags.length == 0" >Sin categorías</span> -->
                                            <span class="label bg-primary m-l-sm" ng-repeat="(tag,owner_id) in group.tags track by $index">{{tag}} <i class="fa fa-times" ng-show="owner_id == app.loginuser.id" ng-click="removeGroupCategory(tag,group)" title="Eliminar categoría"></i></span>
                                            <span class="label bg-primary m-l-sm" title="Agregar nueva categoría" ng-click="addGroupCategory(group)"><i class="fa fa-plus"></i></span>
                                          </a>
                                      </div>
                                      <div class="text-ellipsis m-t-xs">
                                          <span class="label bg-warning" ng-show="!group.publishers.length">Sin publicadores</span>
                                          <a class="label m-r-xs" ng-class="{'bg-success' : publisher.active&&publisher.publisher_can_publish, 'bg-danger' : !publisher.publisher_can_publish, 'bg-light' : !publisher.active }" ng-repeat="publisher in group.publishers">
                                              <i ng-class="{'icon-check' : publisher.active&&publisher.publisher_can_publish, 'icon-ghost' : !publisher.publisher_can_publish, 'icon-ban' : !publisher.active }"></i>
                                              {{publisher.publisher_name}}
                                          </a>
                                      </div>
                                    </div>      
                                </li>
                            </ul>
                            <div class="col-md-12  text-center" ng-hide="gettingEntries || !groups.length || totalPages==1">
                                <pagination total-items="totalItems" ng-model="params.page" ng-change="loadEntries({page : params.page})" items-per-page="params.limit" max-size="10" class="pagination-sm m-t-sm m-b" boundary-links="true" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="Último"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padder b-t b-light text-right hidden-xs">
                    <div class="btn-group" ng-show="totalItems>0">
                        {{totalItems}} grupos encontradas &nbsp;&nbsp;&nbsp; página {{params.page}} de {{totalPages}}
                    </div>
                </div>
            </div>
</div>
    </div>
<script type="text/ng-template" id="ModalEditGroupListContent.html">
<div class="modal-header">
    <h3 class="modal-title">{{type_title}}</h3>
</div>
<div class="modal-body">
<form>
    <div class="alert alert-warning" role="alert" ng-show="!list_values.length">
        <div><span class="ng-binding ng-scope">Esta lista aún no contiene ningún elemento.</span></div>
    </div>
    <div class="form-group" ng-repeat="mess in list_values track by $index">
        <div class="input-group">
                <div ng-if="type=='textarea'">
                    <textarea  ng-model="list_values[$index]" class="form-control" placeholder="Ingrese un contenido..." rows="3"></textarea>
                </div>
                <div ng-if="type=='input'">
                      <input  ng-model="list_values[$index]" type="text" class="form-control" placeholder="Ingrese un contenido..."/>
                  </div>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="list_values.splice(list_values.indexOf(mess),1)"><i class="fa fa-times"></i></button>
              </span>
        </div>
    </div>

    <p>
        <button class="btn btn-sm btn-default" ng-click="list_values.push('')">
          <i class="fa fa-plus text"></i>
          <span class="text">Agregar</span>
        </button>
    </p>
    <small class="text-danger">{{resultmsg}}&nbsp;</small>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="save()">Aceptar</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
</script>