<div class="hbox hbox-auto-xs bg-light" ng-init="app.hideFooter=true">
<div ui-view="" class="fade-in-up col lter b-l" ng-controller="EntryListCtrl">
            <div class="vbox">
                <div class="bg-light lter b-b wrapper-sm">
                    <label class="font-thin h3 m-r"><i class="icon-layers"></i> Entradas</label>
                    <button class="m-b-xs btn btn-xs btn-info" ng-click="createEntry()"><i class="fa fa-plus fa-fw"></i> Nuevo</button>
                    <button class="m-t-xs btn btn-xs btn-info pull-right" ng-click="loadEntries({refresh:1})"><i class=" fa fa-refresh" ng-class="{'fa-spin' : gettingEntries}"></i> {{gettingEntries?'Actualizando...':'Actualizar entradas'}}</button>
                </div>
                <div class="wrapper-sm">
                    <div class="m-r-sm m-l-xs" ng-show="params">
                        <div class="btn-group dropdown" dropdown="" title="Ordenado por {{params.orderBy || ''}}">
                            <button class="btn btn-sm btn-default" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">{{params.orderBy || 'Seleccione'}} <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="opt in orderByOptions" ng-hide="opt==params.orderBy"><a href="" ng-click="loadEntries({orderBy : opt, page : 1})">{{opt}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group m-l-xs">
                            <button class="btn btn-sm btn-default" ng-class="{'btn-success active' : params.filter != 'can_publish' && params.filter != 'cant_publish'}" ng-click="loadEntries({filter : 'all', page : 1})">Todos</button>
                            <button class="btn btn-sm btn-default" ng-class="{'btn-success active' : params.filter == 'can_publish'}" ng-click="loadEntries({filter : 'can_publish', page : 1})">Activos</button>
                            <button class="btn btn-sm btn-default" ng-class="{'btn-success active' : params.filter == 'cant_publish'}" ng-click="loadEntries({filter : 'cant_publish', page : 1})">Inactivos</button>
                        </div>
                        
                        <div class="pull-right m-b-xs">
                          <div class="w inline v-middle">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched" placeholder="Buscar" ng-model="query" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" ng-change="loadEntries({search : query,page : 1})" >
                                <span class="input-group-addon input-sm info" ng-style="query?{'cursor':'pointer'}:''" ng-click="query && ((query='') || loadEntries({search : query, page : 1}))">
                                    <i class="fa" ng-class="{'fa-search':!query,'fa-times':query}"></i>
                                </span>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="wrapper ng-scope">
                            <div class="row">
                                <div class="col-md-12  text-center">
                                    <div class="alert ng-isolate-scope alert-warning" role="alert" type="warning" ng-hide="gettingEntries || entries.length">
                                        <span class="h4 ng-binding ng-scope"><i class="fa fa-warning"></i> No se encontraron entradas</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-sm-6" ng-repeat="entry in entries">
                                    <div class="panel b-a" >

                                      <div class="item m-l-n-xxs m-r-n-xxs">
                                        <img ng-src="{{entry.og_image?entry.og_image:(entry.publish_pictures&&entry.publish_pictures[0]?entry.publish_pictures[0]:'')}}"  style="height: 246px;width: 100%;" ng-class="{'grayscale': !entry.can_publish}"  alt="&nbsp;">
                                        <div class="top padder m-t-xs w-full">
                                            <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" ng-model="entry.can_publish" ng-change="changeEntryStatus(entry)"><i></i>
                                            </label>
                                            <a class="pull-right text-lg text-danger" ng-click="deleteEntry(entry)"><i class="fa fa-times-circle" ng-class="{'fa-spin fa-spinner' : entry.deleting}"></i></a>
                                        </div>
                                        <div class="center text-center w-full" style="margin-top:-60px">

                                        </div>
                                        <div class="bottom wrapper bg-gd-dk text-white" style="background-image: linear-gradient(to top, rgba(40, 50, 60, 0) 0, rgba(40, 50, 60, 0.5) 0);">            
                                            <div class="h4 m-b-sm text-de-lter">{{entry.post_title | limitTo : 65}}</div>
                                            <div><span title="Creado {{entry.created_time*1000 | date:'dd-MMM-yyyy H:mm'}} Modificado {{entry.modified_time*1000 | date:'dd-MMM-yyyy H:mm'}}">Modificado {{entry.modified_time | fromNow}}</span></div>
                                            <div class="text-ellipsis">{{entry.post_categories}}</div>
                                        </div>

                                      </div>
                                      <div class="hbox text-center b-light text-sm" ng-class="{'grayscale': !entry.can_publish}">          
                                        <a href="" class="col padder-v-xs text-muted b-r b-light" title="Publicaciones">
                                          <i class="icon-feed block m-b-xs"></i>
                                          <span>{{entry.publish_count}}</span>
                                        </a>
                                        <a href="" class="col padder-v-xs text-muted b-r b-light" title="Publicadores" ng-click="editPublishers(entry)">
                                          <i class="icon-users block m-b-xs"></i>
                                          <span>{{entry.publishers.rule=='include'?('+'+entry.publishers.list.length):(entry.publishers.rule=='exclude'?('-'+entry.publishers.list.length):'Todos')}}</span>
                                        </a>
                                        <a href="" class="col padder-v-xs text-muted" title="Categorías de Grupos" ng-click="editTagsGroups(entry)">
                                          <i class="icon-basket block m-b-xs"></i>
                                          <span>{{entry.tags_groups.rule=='include'?'+':(entry.tags_groups.rule=='exclude'?'-':'Todos')}}{{entry.tags_groups.rule!='all'?entry.tags_groups.tags.length:''}}</span>
                                        </a>
                                      </div>
                                      <div class="hbox text-center text-sm bg-info" ng-class="{'grayscale': !entry.can_publish}">          
                                        <a href="" class="col padder-v-xs text-muted b-light"  title="Compartidos">
                                          <i class="icon-share block m-b-xs"></i>
                                          <span>{{entry.og_share_count || 'Ningún'}}</span>
                                        </a>
                                        <a href="" class="col padder-v-xs text-muted  b-light dk" title="Me gusta">
                                          <i class="icon-like block m-b-xs"></i>
                                          <span>{{entry.like_count || 'Ningún'}}</span>
                                        </a>
                                        <a href="" class="col padder-v-xs text-muted b-light" title="Comentarios">
                                          <i class="icon-bubble block m-b-xs"></i>
                                          <span>{{entry.og_comment_count || 'Ningún'}}</span>
                                        </a>
                                        <a href="{{entry.post_url}}" target="_blank" class="col padder-v-xs text-muted dk">
                                          <i class="icon-link block m-b-xs"></i>
                                          <span>Ir al sitio</span>
                                        </a>
                                      </div>
                                      <div class="hbox text-center text-sm bg-primary" ng-class="{'grayscale': !entry.can_publish}">          
                                        <a href="" class="col padder-v-xs text-muted b-light" title="Comentarios" ng-click="editPublishList(entry,'publish_messages')">
                                          <i class="icon-bubble block m-b-xs"></i>
                                          <small>{{entry.publish_messages.length}}</small>
                                        </a>
                                        <a href="" class="col padder-v-xs text-muted b-light dk" title="Imagenes" ng-click="editPublishList(entry,'publish_pictures')">
                                          <i class="fa fa-image block m-b-xs"></i>
                                          <small>{{entry.publish_pictures.length}}</small>
                                        </a>
                                          <a href="" class="col padder-v-xs text-muted b-light" title="Títulos" ng-click="editPublishList(entry,'publish_names')">
                                          <i class="fa fa-language block m-b-xs"></i>
                                          <small>{{entry.publish_names.length}}</small>
                                        </a><a href="" class="col padder-v-xs text-muted b-light dk" title="Leyendas" ng-click="editPublishList(entry,'publish_captions')">
                                          <i class="fa fa-bookmark-o block m-b-xs"></i>
                                          <small>{{entry.publish_captions.length}}</small>
                                        </a>
                                          <a href="" class="col padder-v-xs text-muted b-light" title="Descripciones" ng-click="editPublishList(entry,'publish_descriptions')">
                                          <i class="fa fa-bars block m-b-xs"></i>
                                          <small>{{entry.publish_descriptions.length}}</small>
                                        </a>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-12  text-center" ng-hide="gettingEntries || !entries.length || totalPages==1">
                                    <pagination total-items="totalItems" ng-model="entries_page" ng-change="loadEntries({page : entries_page})" items-per-page="params.limit" max-size="10" class="pagination-sm m-t-sm m-b" boundary-links="true" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="Último"></pagination>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padder b-t b-light text-right hidden-xs">
                    <div class="btn-group" ng-show="totalItems>0">
                        {{totalItems}} entradas encontradas &nbsp;&nbsp;&nbsp; página {{params.page}} de {{totalPages}}
                    </div>
                </div>
            </div>
</div>
    </div>
<script type="text/ng-template" id="ModalEditEntryListContent.html">
<div class="modal-header">
    <h3 class="modal-title">{{type_title}}</h3>
</div>
<div class="modal-body">
<form>
    <div class="alert alert-warning" role="alert" ng-show="!list_values.length">
        <div><span class="ng-binding ng-scope">Esta lista aún no contiene ningún elemento.</span></div>
    </div>
    <div class="form-group" ng-repeat="mess in list_values track by $index">
        <div class="input-group">
                <div ng-if="type=='textarea'">
                    <textarea  ng-model="list_values[$index]" class="form-control" placeholder="Ingrese un contenido..." rows="3"></textarea>
                </div>
                <div ng-if="type=='input'">
                      <input  ng-model="list_values[$index]" type="text" class="form-control" placeholder="Ingrese un contenido..."/>
                  </div>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="list_values.splice(list_values.indexOf(mess),1)"><i class="fa fa-times"></i></button>
              </span>
        </div>
    </div>

    <p>
        <button class="btn btn-sm btn-default" ng-click="list_values.push('')">
          <i class="fa fa-plus text"></i>
          <span class="text">Agregar</span>
        </button>
    </p>
    <small class="text-danger">{{resultmsg}}&nbsp;</small>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="save()">Aceptar</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
</script>
<script type="text/ng-template" id="ModalEditTagsGroupsContent.html">
<div class="modal-header">
    <h3 class="modal-title">Regla de Categorías de Grupos</h3>
</div>
<div class="modal-body">
<form>
    <div class="form-group">
        <div class="input-group">
            <label>Regla</label>
            <select ng-model="tags_groups.rule" class="form-control">
                <option value="all">Todos</option>
                <option value="include">Incluir sólo los siguientes:</option>
                <option value="exclude">Todos excepto los siguientes:</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="tags_groups.rule=='include' || tags_groups.rule=='exclude'">
            <ui-select multiple ng-model="tags_groups.tags" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Selecciona las categorías...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="tag in tags | filter: $select.search">
                  <div ng-bind-html="tag | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
    </div>
    <small class="text-danger">{{resultmsg}}&nbsp;</small>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="save()">Aceptar</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
</script>
<script type="text/ng-template" id="ModalEditPublishersContent.html">
<div class="modal-header">
    <h3 class="modal-title">Regla de Publicadores</h3>
</div>
<div class="modal-body">
<form>
    <div class="form-group">
        <div class="input-group">
            <label>Regla</label>
            <select ng-model="publishers.rule" class="form-control">
                <option value="all">Todos</option>
                <option value="include">Incluir sólo los siguientes:</option>
                <option value="exclude">Todos excepto los siguientes:</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="publishers.rule=='include' || publishers.rule=='exclude'">
            <ui-select multiple ng-model="publishers.list" theme="bootstrap">
                <ui-select-match placeholder="Selecciona los publicadores...">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="publisher in all_publishers | filter: $select.search">
                  <div ng-bind-html="publisher.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
    </div>
    <small class="text-danger">{{resultmsg}}&nbsp;</small>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="save()">Aceptar</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
</script>

<script type="text/ng-template" id="ModalCreateEntryContent.html">
<div class="modal-header">
    <h3 class="modal-title">Crear entrada</h3>
</div>
<div class="modal-body">
    <form role="form" class="ng-pristine ng-valid">
    
        <div class="form-group">
            <div class="radio">
                <label class="checkbox-inline i-checks">
                    <input type="radio" ng-model="entry.type" value="fb">
                    <i></i>
                    Contenido de Facebook
                            <span class="help-block m-b-none">(Álbum, Foto, Video, Publicación)</span>
                </label>
                <label class="checkbox-inline i-checks">
                    <input type="radio" ng-model="entry.type" value="web">
                    <i></i>
                    Contenido externo
                    <span class="help-block m-b-none">(Enlace a sitio Web, blog o imagen externa)</span>
              </label>
            </div>
    
        </div>
        <div class="form-group" ng-show="entry.type=='fb'">
            <label>Enlace</label>
            <input type="text" class="form-control" placeholder="Ingrese la dirección URL de su publicación en facebook"  ng-model="entry.link">
        </div>
        <div class="form-group text-center" ng-show="entry.type=='web'">
            <p><img ng-src="img/fb-desktop.jpg"></p>
        </div>
        <div class="form-group" ng-show="entry.type=='web'">
            <label>Enlace</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Ingrese una dirección URL donde se redirigirá al visitante" ng-disabled="loginFromLink" ng-model="entry.link">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="loadFromLink()" ng-disabled="!entry.link || loginFromLink">
                        <i ng-class="{'fa fa-spinner fa-spin' : loginFromLink}"></i> {{loginFromLink?'Cargando...':'Cargar datos'}}
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group" ng-show="entry.type=='web'">
            <label>Imagen</label>
            <input type="text" class="form-control" placeholder="Ingrese una dirección URL de la imagen" ng-model="entry.image">
        </div>
        <div class="form-group" ng-show="entry.type=='web'">
            <label>Título</label>
            <input type="text" class="form-control" placeholder="Ingrese un título de la publicación" ng-model="entry.title">
        </div>
        <div class="form-group" ng-show="entry.type=='web'">
            <label>Descripción</label>
            <textarea type="text" class="form-control" placeholder="Ingrese una descripción de la publicación" ng-model="entry.description"></textarea>
        </div>
        <div class="form-group" ng-show="entry.type=='web'">
            <label>Leyenda</label>
            <input type="text" class="form-control" placeholder="Ingrese una leyenda para la publicación" ng-model="entry.caption">
        </div>
        <div class="form-group" ng-show="entry.type=='web' || entry.type=='fb'">
            <label>Mensaje (opcional)</label>
            <textarea class="form-control" placeholder="Ingrese un comentario" ng-model="entry.message"></textarea>
        </div>
    </form>
    <small class="text-danger">{{resultmsg}}&nbsp;</small>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()" ng-disabled="saving"><i ng-class="{'fa fa-spinner fa-spin' : saving}"></i> {{saving?'Guardando...':'Guardar'}}</button>
    <button class="btn btn-danger pull-left" ng-click="cancel()" ng-disabled="saving">Cancelar</button>
</div>
</script>